@{
    ViewBag.Title = "Pealeht";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

