@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Konto lukustatud</h1>
    <h2 class="text-danger">See konto on lukus, proovige hiljem uuesti.</h2>
</hgroup>
